@font-face {
    font-family: 'Coolvetica';
    src: url('fonts/coolvetica.otf');
}

.button {
    -fx-font : 24px "Coolvetica";
    -fx-padding : 10;
    -fx-font-weight : bold;
    -fx-background-color : #4B6153;
    -fx-background-radius: 12px;
}

.circle-info {
    -fill: -blue;
    -fx-shape: "M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z";
}

Label {
    -fx-font : 18px "Coolvetica";
    -fx-font-weight : bold;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 2;
    -fx-border-color: #EAE6BB;
}

Text {
    -fx-font : 16px "Coolvetica";
    -fx-border-style: hidden hidden hidden hidden;
}

.choice-box > .label {
    -fx-font : 12px "Coolvetica";
}

#selected {
    -fx-background-color: #82917F;
}

#content-box {
    -fx-background-color: #A8B3A6;
}

.root {
    -fx-font-family : "Coolvetica";
    -fx-background1 : rgb(225,227,2255);
}